<script setup lang="ts">

import axios from 'axios'
import { ref } from 'vue';
import type { Songs } from '../entities'

/**
 * array of differents songs
 */
const arrayOfSOngs = ref<Songs[]>([{ value: "sw", name: "StarWars" }, { value: "default", name: "SuperSOng" }])

/**
 * fetch good path with a songs in param
 */
const playMusic = async (param: string) => {
  await axios.get('http://localhost:8000/api/mbot/music?song=' + param)

}
</script>

<template>

  <!-- loop in a songsArray for select value of item and send good param-->
  <div class="d-flex align-start mt-16">
    <v-container  v-for="item of arrayOfSOngs">
      <v-card max-width="400" class="mx-auto my-auto">
        <v-container>
          <v-row dense>
            <v-col cols="12">
              <v-card color="#1F7087" theme="dark">
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title class="text-h5">
                      MBROBOT
                    </v-card-title>

                    <v-card-subtitle>{{item.name}}</v-card-subtitle>

                    <v-card-actions>
                      <v-btn @click="playMusic(item.value)" class="ml-2" variant="outlined" size="small">
                        START MUSIC
                      </v-btn>
                    </v-card-actions>
                  </div>

                  <v-avatar class="ma-3" size="125" rounded="0">
                    <v-img
                      src="https://img-4.linternaute.com/ttwt3sj-oMT3hxsQ34BI2OhmSHM=/1500x/smart/0f198c9c4a8843a5b315873728da491c/ccmcms-linternaute/10339196.jpg">
                    </v-img>
                  </v-avatar>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
  </div>

</template>