<script setup lang="ts">
import Navbar from "./components/Navbar.vue";
import RobotSings from "./components/RobotSings.vue";
</script>


<template>
  <v-app>
    <Navbar />
    <RobotSings />
  </v-app>
</template>

<style scoped>

</style>